{% extends "bases/base_principal.html" %}

{% block title %} 
	Temas
{% endblock %}

{% block content %}

					<div class="error-template">
		                <h1>
		                    Procesido</h1>
		                <h2>
		                    La pregunta {{ pregunta }}</h2>
		                <div class="error-actions">
		                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
		                        Volver a pagina de inicio </a>
		                </div>
		            </div>

{% endblock %}