{% extends "bases/base_principal.html" %}

{% block title %} 
    Respuestas
{% endblock %}

{% block content %}
     

                    <table class="table table-hover table-responsive table-condensed">
                            <tr class="active">
                                <th>
                                    <h3 style="font-size:x-large"><span style="font-weight:bolder">Pregunta</span></h3>
                                </th>
                                <th>
                                    <h3 style="font-size:x-large"><span style="font-weight:bolder">Temas</span></h3>
                                </th>
                                <th>
                                    <h3 style="font-size:x-large"><span style="font-weight:bolder">Pregunta Lista</span></h3>
                                </th>

                                <th></th>
                            </tr>
                        
                            {% for i in preguntas %}
                            <tr>
                                <td class="col-lg-2">
                                    <span style="font-size: 17px;"> {{ i.pregunta }}</span>
                                </td>
                                <td class="col-lg-1">
                                    <span style="font-size: 17px;">{%for tema in i.temas.all%} {{ tema.tema }} {% endfor %}</span>
                                </td>
                                <td class="col-lg-2">
                                    <span style="font-size: 17px;"> {{ i.lista }} </span>
                                </td>

                                <td class="col-lg-3">
                                    <a href="/user/editar/{{i.id}}">
                                    <button type="button" class="btn btn-warning col-lg-3" onclick=""><span style="margin-right: 5px" class="glyphicon glyphicon-pencil"></span>Editar</button></a>
                                    
                                    <a href="/user/editar_respuesta/{{i.id}}">
                                    <button type="button" class="btn btn-info col-lg-4 col-lg-offset-1" onclick=""><span style="margin-right: 5px" class="glyphicon glyphicon-align-justify"></span>E. Respuestas</button></a>
                                    
                                    <a href="/user/eliminar/{{i.id}}">
                                    <button type="button" class="btn btn-danger col-lg-3 col-lg-offset-1" onclick=""><span style="margin-right: 5px" class="glyphicon glyphicon-trash"></span>Borrar</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                    </table>


{% endblock %}




 