{% extends "bases/base_principal.html" %}

{% block title %} 
	Datos de Pregunta a Modificar
{% endblock %}

{% block content %}
		
					  <table class="table table-hover table-responsive table-condensed">
                            <tr class="active">
                                <th>
                                    <h3 style="font-size:x-large"><span style="font-weight:bolder">Pregunta</span></h3>
                                </th>
                                <th>
                                    <h3 style="font-size:x-large"><span style="font-weight:bolder">Temas</span></h3>
                                </th>
                                <th>
                                    <h3 style="font-size:x-large"><span style="font-weight:bolder">Pregunta Lista</span></h3>
                                </th>

                              
                            </tr>
                            
                            <tr>
                                <td class="col-lg-2">
                                    <span style="font-size: 17px;"> {{ preguntas.pregunta }}</span>
                                </td>
                                <td class="col-lg-1">
                                    <span style="font-size: 17px;">{%for tema in preguntas.temas.all%} {{ tema.tema }} {% endfor %}</span>
                                </td>
                                <td class="col-lg-2">
                                    <span style="font-size: 17px;"> {{ preguntas.lista }} </span>
                                </td>
                            </tr>
                            
						</table>
                        {% load bootstrap3 %}

					    {# Display a form #}

					    <form action="" method="post" enctype="multipart/form-data">
					        {% csrf_token %}
					        {% bootstrap_form form_modi %}
					        {% buttons %}
					            <button type="submit" class="btn btn-primary">Actualisar</button>
					        {% endbuttons %}
					    </form>
	
{% endblock %}