{% extends "bases/base_principal.html" %}

{% block title %} 
	Temas
{% endblock %}

{% block content %}

					<div class="error-template">
		                <h1>
		                    Procesido</h1>
		                <h2>
		                    Se a Quitado de Staff</h2>
		                <div class="error-actions">
		                    <a href="/user/lista_premisos/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
		                        Volver a Lista </a>
		                </div>
		            </div>

{% endblock %}